<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
  <header><%- include('partials/_header') %></header>
</head>
<body>
  <p>Urls</p>
  <ul>
  <% for(var link in url) { %>
    <li>
      <a href="http://localhost:8080/urls/<%= link %>"> <%= link %> </a> ---> <a href="http://localhost:8080/u/<%= link %>"><%= url[link] %></a>
      <br>
        <a href="http://localhost:8080/urls/<%= link %>"><button>Update</button></a>
      <form action="/urls/<%= link %>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
      <br>
    </li>
  <% } %>
  </ul>

</body>
</html>