<!DOCTYPE html>
<html style='background-color: #272822'>
<head >
  <title>TinyApp</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS for Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- My stylesheet -->
  <link type='text/css' rel='stylesheet' href='/stylesheets/style.css'>

  <!-- This is my cool font -->
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

     <%- include('partials/_header') %>

 </head>
<body style="background-color:#272822; font-family: 'Orbitron', sans-serif; color:#66D9EF">
   <div style="padding-top: 1%">
      <h1 id='archiveTitle'>Url <a style='color: #A6E22E'>Archive</a></h1>
  </div>
<div style='margin-left: 0px; margin-right: 0px; width: 100%, background-color: #272822'>
  <table class="table">
    <thead>
      <tr>
        <th style='padding-left: 5%' width='200px'>Short Url</th>
        <th style='color: #A6E22E'>Full Url</th>
        <th style='padding-left: 5%' width='50px'></th>
      </tr>
    </thead>
    <tbody>
    <% for(var link in url) { %>
      <tr>
        <td style='padding-left: 5%'>
          <a href="/u/<%= link %>"> <%= link %> </a></td>
        <td style='color: #A6E22E'>
          <form action="/urls/<%= link  %>/update" method="POST">

            <input class="form-control" id="newURL" type="text" name="newURL" value="<%= url[link]  %>" style='width: 100%; background-color: #4F4F57; color: #A6E22E; height:28px'>

          </form>
        <td style='padding-right: 2%'>
            <form action="/urls/<%= link %>/delete" method="POST" align='right'>

              <input class="form-control" type="submit" name="newURL" value='Delete' style='width: 100%; background-color: #4F4F57; color:#FD971F; height:28px'>

            </form>
        </td>
        <% } %>

      </tr>
    </tbody>
  </table>
</div>

<!--   -->
  <!-- Javascript for contenteditable table -->

<!-- jQuery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>