<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
<p>Url:</p>

<h3><a href='/u/'> <%= url %></h3> </a>
<p>Navigates to</p>
<h3><a href=''><%= long %></h3> </a>

<form action="/urls/<%= url  %>/update" method="POST">
<input class="form-control" id="newURL" type="text" name="newURL" value="<%= long %>" style='width: 100%; background-color: #4F4F57; color: #A6E22E; height:28px'>
</form>

<form action="/urls/<%= url %>/delete" method="POST" align='right'>
<input class="form-control" type="submit" name="newURL" value='Delete' style='width: 100%; background-color: #4F4F57; color:#FD971F; height:28px'>
</form>

<a href="/urls"> Back To Index</a>
</body>
</html>